.cutscene{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    font-size: 1rem;

    h2 {
        white-space: pre-wrap;
    }
}

h2 {
    white-space: pre-wrap;
}

.desc-blink{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font: 1em sans-serif;
    animation: blink 3s infinite;
    animation-fill-mode: both;
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
    }