.question-body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.text-box {
    min-height: 20rem;
    min-width: 70%;
    font-size: 1.5rem;
    font-family: 'Athiti';
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    border-color: rgba(170, 19, 15, 1);
    word-wrap: break-word;
    overflow-wrap: break-word;
    resize: none;
}

.question{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        color: rgba(170, 19, 15, 1);
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
    }
}

.btn-ans{
    font-size: 1.25rem;
    padding: 1.25rem;
    width: 50%;
    border-radius: 1.25rem;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(170, 19, 15, 1);
    color: white;
}

.option{
    padding: 1.25rem;
    border-radius: 1.25rem;
    border: none;
    background-color: rgba(170, 19, 15, 1);
    color: white;
    width: 50%;
    font-size: 1rem;
    font-family: 'Athiti';
}